html,
body {
    height: 100%;
}

td {
    white-space:normal !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}
.grid-view {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.custom-grid-view {
    height: 24px;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: nowrap;
}

.states {
    height: 24px;
    overflow: hidden;
}

.states-header {
    height: 20px;
}

.count {
    text-align: right;
    font-size: 7pt;
    color: #9f191f;
}

.my-img {
    cursor:pointer;
}

.popup {
    position: fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
}


.popup_img {
    position: relative;
    margin:0 auto;
    z-index:2;
    max-height:94%;
    max-width:94%;
    margin:1% 0 0 0;
}

.graphic_size {
    position: fixed;
    z-index:2;
    top:10%;
    left:450px;
}
.graphic_loading_time {
    position: fixed;
    z-index:2;
    top:10%;
    left:800px;
}
.graphic_server_response_code {
    position: fixed;
    z-index:2;
    top:10%;
    left:1150px;
}

.popup_bg {
    background:rgba(0,0,0,0.4);
    position:fixed;
    z-index:1;
    height:100%;
    width:100%;
    top:0;
    left: 0;
}

.info {
    visibility: hidden;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

body{
    margin:0;
    overflow:hidden;
}
body * {
    box-sizing: border-box;
}

.custom-ddl {
    width: 18px;
    height: 18px;
}

.custom-drop-down {
    width: 85px;
}
.scale {
    transition: 0.2s; /* Время эффекта */
}
.scale:hover {
    position: relative;
    z-index: 9999;
    transform: scale(10); /* Увеличиваем масштаб */
}

.settings-view {
    width: 50%;
}